* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffaa00;
    font-family: Lato;
    margin: 0;
    padding: 0;
}

.caption{
    border-radius: 5px;
    color: #FFF;
    left: 30px;
    top: 30px;
}
.caption{
    padding: 15px 15px 15px 15px;
}
.caption:hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: #323232;
}

.carousel {
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
}
.carousel-title {
    color: #ffaa00;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
/* Carousel Bootstrap CSS line 5935 */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #323232;
    text-align: center;
    opacity: 0.5;
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #d3b4e6;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-indicators .active {
    background-color: #ffaa00;
}

.col-md-4, .col-12{
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    margin-top: 20px;
    max-width: 23.438em;
    padding: 15px;
}

.conteiner-flex {
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.conteiner-flex1 {
    align-items: center;
    background-color: #323232;
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    display: flex;
    /* justify-content: center; */
    margin: 1rem 0 0.5rem 0;
}
.footer1 {
    display: none;
}

.footer-nav a{
    display: inline-block;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    text-align: center;
    /* border-left: 1px solid black; */
    color: #fff;
    padding: 0px 5px 0px 5px;
}
.footer-nav a:hover, .footer-nav a:focus{
    color: #ffaa00;
    font-weight: bolder;
}
.footer-nav a:last-child{
    padding-right: 10px;
}

.footer-nav1 ul li a{
    display: none;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 0px 5px 0px 5px;
}
.footer-nav ul li a:hover, .footer-nav ul li a:focus{
    color: #ffaa00;
    font-weight: bolder;
}
.footer-nav1 ul li a:first-child{
    padding-top: 5px;
}
.footer-conteiner-flex {
    display: none;
    justify-content: space-around;
    padding: 0.5rem 0 0.5rem 0;
}

i {
    /* border-left: 1px solid #FFF; */
    display: block;
    color: #fff;
    padding-left: 10px;
}

.item a{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
}
.item a:hover{
    color: #323232;
    text-decoration: none;
}
.item a img{
    padding-top: 10px;
}

.links {
    color: #FFF;
    display: inline-block;
    list-style: none;
    opacity: 0.5;
    text-decoration: none;
}
.links:hover, strong:hover {
    color: #ffaa00;
    font-size: 1.1rem;
    font-weight: bolder;
    list-style: none;
    opacity: 1;
    text-decoration: none;
}

.navbar {
    background-color: #323232;
    box-shadow: 3px 3px 5px #fff;
}

.navbar-brand {
    color: #fff;
}
/* .navbar-brand:hover, .navbar-brand:focus {
    color: #ffae00;
    font-weight: bolder;
} */
/* línea 4331 de bootstrap */
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #ffae00;
    font-weight: bolder;
}

.nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color: #ffaa00;
    font-weight: bolder;
}

/* .navbar-toggler{
    display: none;
} */

.redes-top {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row .container-fluid{
    display: block;
    flex-shrink: 0;
}

.search-box{
    background-color: #B9FFAB;
    border: #505050;
    height: 2rem;
    margin-right: 5px;
    width: 6rem;
}
.search-box:focus, .search-box:hover{
    background-color: #505050;
    color: #B9FFAB;
}

.search-form{
    display: flex;
}
.search-form1{
    display: flex;
}

.btn {
    display: flex;
    text-align: center;
}

.search-btn{
    background-color: #B9FFAB;
    color: #323232;
    height: 2rem;
    text-align: center;
}
.search-btn:hover{
    background-color: #505050;
    color: #B9FFAB;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #323232;
    padding-left: 15px;
    opacity: 0.75; /* Firefox */
}
::placeholder:focus{
    color: #fff;
}

.social-icon{
    /*display: inline-block;*/
    /* display: space-between; */
    /* margin: 0.5rem 0rem 0.5rem 1rem; */
    opacity: 0.5;
    width: 2rem;
}
.social-icon:last-child {
    padding-left: 5px;
}
.social-icon:hover, .social-icon:focus{
    opacity: 1;
    width: 2.2rem;
}

@media (max-width: 909.98px){

    .footer-nav{
        display: none;
    }
    .footer-nav1 ul li a{
        display: block;
    }

    .search-form{
        display: none;
    }
    .search-form1{
        display: block;
    }

    .footer{
        display: none;
    }
    .footer1{
        display: block;
    }
    .footer-conteiner-flex {
        display: flex;
    }
}

@media (max-width: 767.98px){
    
    .row, .container-fluid{
        display: block;
        justify-content: center;
        padding-top: 20px;
    }

    .col-md-4, .col-12{
        margin: 0%;
        padding: 0px;
    }
}

/* Línea 4109 */
@media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}
/* hasta 4149 del css de Bootstrap */

@media (max-width: 559.98px) {
    
    .carousel {
        display: none;
    }
}